@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
        font-family: 'Anton', sans-serif;
        }
        
#caja{
    background-color: browns;
    border: 10px solid rgb(255, 0, 0);
    width: 1060px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px;
}

.informacion{
    border: 5px solid rgb(0, 0, 0);
    margin: 10px;
    width: 400px;
    box-shadow: 5px 5px 5px;
    
}
.nombre{
    background-color: blue;
color:red;
}
.edad{
background-color: gold;
} 
.colorFavorito{

    background-color: gold;
}
h1{
    display: flex;
    justify-content: center;
    color: red;
    width: 1600px;
    text-shadow: #1d1d1d 5px 5px 5px;
  }
h2{
    display: flex;
    justify-content: center;
    color: red;
    width: 1000px;
    text-shadow: #1d1d1d 5px 5px 5px;
    font-size: 40px;
 
}